[package]
name = "bcrypt"
version = "0.8.0"
authors = ["Vincent Prouillet <hello@prouilletvincent.com>"]
license = "MIT"
readme = "README.md"
description = "Easily hash and verify passwords using bcrypt"
homepage = "https://github.com/Keats/rust-bcrypt"
repository = "https://github.com/Keats/rust-bcrypt"
keywords = ["bcrypt", "password", "web", "hash"]
edition = "2018"

[features]
default = ["std"]
std = ["base64/std", "byteorder/std"]
alloc = ["base64/alloc"]
wasm-bindgen = ["getrandom/wasm-bindgen"]
stdweb = ["getrandom/stdweb"]

[dependencies]
blowfish = { version = "0.4", features = ["bcrypt"] }
getrandom = "0.1"
base64 = { version = "0.12.1", default-features = false }
byteorder = { version = "1", default-features = false }

[dev-dependencies]
quickcheck = "0.9.0"

[badges]
maintenance = { status = "passively-maintained" }
